<div class="containers">
    <br>
    <div class="card" style="width: 25rem; border-radius: 15px; ">

        <img src="../../../.././../assets/html5-386614_1920.jpg" class="imagesize card-img-top" alt="...">
        <div class="card-body">


            <!--  -->
            <h5 class="card-title">
                <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 4500</b> &nbsp;&nbsp;
                <span class="text-decoration">
                    <fa-icon [icon]="faIndianRupeeSign"></fa-icon><b> 6999</b>
                </span> &nbsp;&nbsp;
            </h5>

            <a href="#" class="btn btn-primary w-100">Buy now</a>
            <p class="card-text">This courses include:</p>
            <ul>
                <li>No Prerequisite Required</li>
                <li>150 Hours On Demand Video</li>
                <li>HTML Beginner to Advanced</li>
                <li>Industry Grade Projects</li>
                <li>With Doubt Assistance</li>
            </ul>
        </div>
    </div>


</div>


<!--  -->
<div class="text-white position">
    <p style="font-size:25px">Welcome to <strong>E-Skills</strong> family</p>
    <h1 style="font-size: 46px; font-weight: 700;">HTML Course @Eskills</h1>
    <p style="font-size: 25px;">Learn how to code in HTML in 10 hour. <br> This class is set up for complete beginners!
    </p>

    <span>4.8 <span><fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
        </span></span>
    <p style="font-size: 1.125rem;
  line-height: 1.75rem;"><fa-icon [icon]="faGlobe"></fa-icon> English / Hindi <fa-icon [icon]="faVideo"></fa-icon>
        10+courses</p><br>



</div>

<!--  -->
<div style="margin-top: 50px;margin-bottom: 100px;">

    <div class="container">


        <table class="table">
            <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Sr.No</th>
                    <th scope="col" colspan="2" style="text-align: center;" >what you will learn</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon> Learn the basics of programming
                        </td>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Learn Html </td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Give you a platform for furthur development
                    </td>
                   
                    

                </tr>
               
                 
            </tbody>
        </table>



       
    </div>

</div>
<!-- table -->


<div style="margin-top: 50px;margin-bottom: 100px; margin-left:400px">

    <div class="container">

        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">This course includes:</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px"><fa-icon [icon]="faVideo"></fa-icon> 10 hours on-demand video</td>&nbsp;
                &nbsp; &nbsp;&nbsp;
                <td style="padding-left:30px"><fa-icon [icon]="faFile"></fa-icon> 10 article</td> &nbsp; &nbsp; &nbsp;
            </tr>
            <tr>
                <td style="padding-left:30px;padding-top: 15px;"><fa-icon [icon]="faMobile"></fa-icon>Access on mobile
                    and TV</td> &nbsp;
                &nbsp; &nbsp;
                <td style="padding-left:30px; padding-top: 15px;"><fa-icon [icon]="faAward"></fa-icon>Certificate of
                    completion</td> &nbsp;
                &nbsp; &nbsp;
            </tr>
        </table>
    </div>

</div>


<hr style="height:10px;border-width:0;color:black;background-color:black">
<!-- basic details -->
<div style="margin-top: 50px;margin-bottom: 100px;  margin-left:430px">
    <div class="container" sty>
        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Course Content</th>
                <th></th>
            </tr> <br>
            <!-- html course -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Introduction of courses
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Courses requirement and format</a></li>
                      <li><a class="dropdown-item" href="#">2.Setting up html documents</a></li>
                        <li><a class="dropdown-item" href="#">3.Starting the server
                        </a></li>
                        
                        
                    </ul>
                </div>


            </tr>
            <br>

            <!-- Understanding Tags -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       Understanding Tags
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.style</a></li>
                        <li><a class="dropdown-item" href="#">2.more than one style</a></li>
                        <li><a class="dropdown-item" href="#">3.Bold, Italics, underline and tags within tags</a></li>
                        <li><a class="dropdown-item" href="#">4. More Tags</a></li>
                          
                    </ul>
                </div>


            </tr>

            <br>
            <!-- Links and Images-->

            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Links and Images
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1. Setting up a link</a></li>
                        <li><a class="dropdown-item" href="#">2. Adding an image</a></li>
                        <li><a class="dropdown-item" href="#">3.Adding a link to the image</a></li>

                    </ul>
                </div>
            </tr>
            <br>
            <!-- Forms  -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       Forms and Buttons
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Forms</a></li>
                      <li><a class="dropdown-item" href="#">2.Radio, checkboxes and password</a></li>
                      <li><a class="dropdown-item" href="#">3.Submit buttons</a></li>

                    </ul>
                </div>
            </tr>
<br>
            <tr>
                <select name="cars" id="lastlecture" class="optionsheading">
                    <option value="">Congratulations you are finished!</option>
                    <option value="conclusion" class="text-left">18 course conclusion</option>
                    <option value="bonus" class="text-left">Bonus lecture</option>

                </select>
            </tr>
            <br>
            

        </table>
    </div>

</div>



<hr style="height:10px;border-width:0;color:black;background-color:black">

<div style="margin-top: 50px;margin-bottom: 100px;margin-left: 400px;">

    <div class="container">


        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Requirements</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px">
                    <ul>
                        <li>An internet connection</li>
                    </ul>
                </td>&nbsp;
                &nbsp; &nbsp;&nbsp;

            </tr>
            <tr>
                <td style="padding-left:30px">
                    <ul>
                        <li>An up to date web browser</li>
                    </ul>
                </td> &nbsp;
                &nbsp; &nbsp;

            </tr>
        </table>


        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Description</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Perferendis, nobis eaque nesciunt dignissimos dolorem perspiciatis. <br>
                    Laudantium ipsa magnam rem dolore inventore, mollitia eaque voluptates <br>
                    facere assumenda ipsum perferendis nemo ratione, dolorem eius tenetur <br>
                    praesentium officiis error illo tempora dignissimos reiciendis necessitatibus! <br>
                    Iste debitis ullam illo minima officiis quasi incidunt. Molestiae. </td>&nbsp;
                &nbsp; &nbsp;&nbsp;

            </tr>

        </table>
    </div>

</div>

<!-- <div style="margin-top: 50px;margin-bottom: 100px;">

    <div class="container">


        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Description</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Perferendis, nobis eaque nesciunt dignissimos dolorem perspiciatis. <br>
                    Laudantium ipsa magnam rem dolore inventore, mollitia eaque voluptates <br> 
                    facere assumenda ipsum perferendis nemo ratione, dolorem eius tenetur <br>
                    praesentium officiis error illo tempora dignissimos reiciendis necessitatibus! <br>
                    Iste debitis ullam illo minima officiis quasi incidunt. Molestiae. </td>&nbsp;
                &nbsp; &nbsp;&nbsp;
               
            </tr>
            <tr>
                <td style="padding-left:30px"><ul> <li>An up to date web browser</li> </ul></td> &nbsp;
                &nbsp; &nbsp;
               
            </tr>
        </table>
    </div>

</div> -->
<hr style="height:10px;border-width:0;color:black;background-color:black">

<div class="container">
    <div class="row">
      <div class="col" >
        <img src="../../../../../assets/team-3.jpg" alt="" style="position: relative;
        left: 200px;">
      </div>
      <div class="col" style="text-align: left;">
        <br><br>
        <h5>Amelia mia </h5>
        <h4>Ex Software Engineer</h4>
        <p>Lorem ipsum dolor sit amet consectetur,<br>
        adipisicing elit. Eaque repudiandae aliquam <br>
         reiciendis ratione neque est accusamus. <br>
          Tempora blanditiis excepturi animi reprehenderit <br>
           aliquam atque at expedita, amet magnam <br>
           adipisicing elit. Eaque repudiandae aliquam <br>
           reiciendis ratione neque est accusamus. <br>
            Tempora blanditiis excepturi animi reprehenderit <br>
             aliquam atque at expedita, amet magnam <br></p>
      </div>
    </div>
    
  </div>

  <hr >






  <!--  -->
  