<!--  -->
<div >
  
    <img src="../../../../../assets/hero_bg.jpg" class="d-block w-100" alt="..." style="height:680px">

</div>

<div class="container">
  <div class=" align-items-center justify-content-center">
    <div class=" title text-left ">
      <h1>The <strong>Hub</strong> Of <strong>Tutorials</strong></h1>
      <h4>Welcome to Online learning <br>
         platform</h4>
    </div>
  </div>
</div>





<!--  -->
<!--  -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="position-absolute w-100 h-100" src="../../../../../assets/about.png" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="section-title position-relative mb-4">
          <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
          <h1 class="display-4">First Choice For Online Education Anywhere</h1>
        </div>
        <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua
          sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et
          sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod,
          dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et magna
        </p>
        <div class="row pt-3 mx-0">
          <div class="col-3 px-0">
            <div class="bg-secondary text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">123</h1>
              <h6 class="text-uppercase text-white">Available<span class="d-block">Subjects</span></h6>
            </div>
          </div>
          <div class="col-3 px-0">
            <div class="bg-danger text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">1234</h1>
              <h6 class="text-uppercase text-white">Online<span class="d-block">Courses</span></h6>
            </div>
          </div>
          <div class="col-3 px-0">
            <div class="bg-secondary text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">123</h1>
              <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span></h6>
            </div>
          </div>
          <div class="col-3 px-0">
            <div class="bg-danger text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">1234</h1>
              <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- feature  start-->
<div class="container-fluid px-0 py-5">
  <div class="row mx-0 justify-content-center pt-5">
    <div class="col-lg-6">
      <div class="section-title text-center position-relative mb-4">
        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2 font-size">Why E-skills?</h6>
        <h1 class="display-4 font-weight">Making learning easier and more convenient for you </h1>
      </div>
    </div>
  </div>
  <br><br>
  <!-- card -->
  <div class="container">

    <div class="row row-cols-1 row-cols-md-3">
      <!-- card 1 -->
      <div class="col mb-4">
        <div class="card">
          <div class="card-body color-one">
            <p> <fa-icon [icon]="faDisplay " class="fa-4x displayIcon "></fa-icon> </p>
            <h5 class="card-title text-center">Full web development</h5>
            <p class="card-text text-center">Data structures are the problem-solving pillars of coding. Learn all the
              foundational knowledge about all of the popular data structure that you need, to be well-versed in
              interviews.</p>
          </div>
        </div>
      </div>
      <!-- card2 -->

      <div class="col mb-4">
        <div class="card">
          <div class=" bg-secondary card-body">
            <p> <fa-icon [icon]="faCode " class="fa-4x iconCenter "></fa-icon> </p>
            <h5 class="card-title text-center">Placement Preparation</h5>
            <p class="card-text text-center">Ace the placement interviews by being knowledgeable in all well-known data
              structures, popular problem-solving methods, and core computer sciences. <br><br></p>
          </div>
        </div>
      </div>
      <!-- card 3 -->
      <div class="col mb-4">
        <div class="card">
          <div class="card-body color-one">
            <p> <fa-icon [icon]="faHandshake " class="fa-4x iconCenter "></fa-icon> </p>
            <h5 class="card-title text-center">Hand Picked Question</h5>
            <p class="card-text text-center">Get access to hand-picked coding interview questions across categories &
              difficulty levels that will prepare you for every interview you would encounter. <br><br></p>
          </div>
        </div>
      </div>
      <!-- card 4 -->
      <div class="col mb-4">
        <div class="card">
          <div class="card-body bg-secondary">
            <p> <fa-icon [icon]="faUserTie " class="fa-4x iconCenter "></fa-icon> </p>
            <h5 class="card-title text-center">Learn from the best</h5>
            <p class="card-text text-center">Get access to lectures and get mentored by one of the best in the market.
              <br><br><br><br></p>
          </div>
        </div>
      </div>
      <!-- card 5 -->
      <div class="col mb-4">
        <div class="card">

          <div class="card-body color-one">
            <p> <fa-icon [icon]="faTableList " class="fa-4x iconCenter "></fa-icon> </p>
            <h5 class="card-title text-center">Learn Something new</h5>
            <p class="card-text text-center">Learn new concepts daily, increase your productivity & reach your full
              potential. <br><br><br><br></p>
          </div>
        </div>
      </div>
      <!-- card-6 -->
      <div class="col mb-4">
        <div class="card">

          <div class="card-body bg-secondary">
            <p> <fa-icon [icon]="faBookOpenReader " class="fa-4x iconCenter "></fa-icon> </p>
            <h5 class="card-title text-center">Curated Content</h5>
            <p class="card-text text-center">Learn in-depth conceptual overviews, how to approach an algorithm, how to
              implement it & how to optimize it. <br><br><br> </p>
          </div>
        </div>
      </div>



    </div>

  </div>


</div>
<!-- feature End -->

<!-- courses start -->
<div class="container">
  <div class="container-fluid px-0 py-5">
    <div class="row mx-0 justify-content-center pt-5">
      <div class="col-lg-6">
        <div class="section-title text-center position-relative mb-4">
          <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
          <h1 class="display-4" style="font-weight:700;">What would you like to learn?</h1> <br><br>
        </div>
      </div>
    </div>
    <!-- tring owl crosel  -->
    <div class="carosel">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="slide margin-right">
            <div class="card-group">
              <a routerLink="/webdevelopment" style="text-decoration: none;color:black">
              <div class="card">
                <div>
                  <img class="card-img-top " src="../../../../../assets/cour1.png" alt="Card image cap"
                    style="border-radius: 17px; height:300px">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Web Development</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer" style="background-color: cornflowerblue;">
                  <p> <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 500</b> &nbsp;&nbsp;
                    <span class="text-decoration"> <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 999</b></span>
                    &nbsp;&nbsp;
                    <button class="bg-color"> 44% off</button>
                  </p>

                </div>
              </div>
            </a>

            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="slide margin-right">
              <div class="card-group">
                <a routerLink="/angular" style="text-decoration: none;color:black">
                <div class="card">
                  <img class="card-img-top" src="../../../../../assets/cour2.png" alt="Card image cap"
                    style="border-radius: 17px; height:300px">
                  <div class="card-body">
                    <h5 class="card-title">Complete Angular Course 2013</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer" style="background-color: cornflowerblue;">
                    <p> <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 3000</b> &nbsp;&nbsp;
                      <span class="text-decoration"> <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 7000</b></span>
                      &nbsp;&nbsp;
                      <button class="bg-color"> 40% off</button>
                    </p>

                  </div>
                </div>
                 </a>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="slide margin-right">
              <div class="card-group">
                <a routerLink="/html" style="text-decoration: none;color:black">
                <div class="card">
                  <img class="card-img-top" src="../../../../../assets/cour3.png" alt="Card image cap"
                    style="border-radius: 17px; height:300px">
                  <div class="card-body">
                    <h5 class="card-title">Advance Html Course</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer" style="background-color: cornflowerblue;">
                    <p> <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 4500</b> &nbsp;&nbsp;
                      <span class="text-decoration"> <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 6999</b></span>
                      &nbsp;&nbsp;
                      <button class="bg-color"> 42% off</button>
                    </p>

                  </div>
                </div>
                   </a>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="slide">
              <div class="card-group">
                <a routerLink="/css" style="text-decoration: none;color:black">
                <div class="card">
                  <img class="card-img-top" src="../../../../../assets/courses-3.jpg" alt="Card image cap"
                    style="border-radius: 50%; height:300px">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer" style="background-color: cornflowerblue;">
                    <p> <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 3000</b> &nbsp;&nbsp;
                      <span class="text-decoration"> <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 7000</b></span>
                      &nbsp;&nbsp;
                      <button class="bg-color"> 40% off</button>
                    </p>

                  </div>
                </div>
                </a>

              </div>
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>

    </div>



  </div>
</div>

<!-- courses end -->

<!-- feedback -->
<div class="container">
  <div class="container-fluid px-0 py-5">
    <div class="row mx-0 justify-content-center pt-5">
      <div class="col-lg-6">
        <div class="section-title text-center position-relative mb-4">
          <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">WHAT STUDENT SAYS</h6>
          <h1 class="display-4" style="font-weight:500;"> Recent Reviews</h1> <br><br>
        </div>
      </div>
    </div>
    <!--  owl crosel  -->
    <div class="carosel">
      <owl-carousel-o [options]="feedbackOptions">
        <ng-template carouselSlide>
          <div class="slide margin-right">
            <div class="card-group">
              <div class="card">
                <div class="card-body">

                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi cum nihil, fuga
                    eius obcaecati excepturi assumenda, vel reiciendis laborum dolorum saepe voluptates? Fuga natus
                    labore excepturi, dolorum atque cumque pariatur maiores delectus ullam, reprehenderit alias sunt
                    eligendi architecto. Odio, facilis. </p>

                </div>
                <div class="card-footer">
                  <p><fa-icon [icon]="faUser "></fa-icon> &nbsp;<b>Johan Titus</b> &nbsp;&nbsp; <span><fa-icon
                        [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                        class="text-warning"></fa-icon> <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
                      <fa-icon [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                        class="text-warning"></fa-icon> </span> </p>
                  <p>BCA</p>
                </div>
              </div>

            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="slide margin-right">
              <div class="card-group">
                <div class="card">
                  <div class="card-body">

                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde commodi
                      voluptates explicabo dolores optio fugiat sunt dignissimos assumenda, eius voluptatum repudiandae
                      nam recusandae neque! Deserunt facilis maxime harum laudantium aliquid incidunt qui, voluptate,
                      veritatis doloribus vitae illum a temporibus vero! </p>

                  </div>
                  <div class="card-footer">
                    <p><fa-icon [icon]="faUser "></fa-icon> &nbsp;<b>Bhoomi Vasvani</b> &nbsp;&nbsp; <span><fa-icon
                          [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> </span> </p>
                    <p>BE (computer branch)</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="slide margin-right">
              <div class="card-group">
                <div class="card">
                  <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus similique
                      recusandae debitis velit aperiam. Dolor earum natus esse consectetur distinctio quod est
                      repudiandae temporibus id quisquam. Ipsam debitis harum dolorem pariatur ut velit sit veritatis
                      atque. Amet numquam qui necessitatibus.</p>

                  </div>
                  <div class="card-footer">
                    <p><fa-icon [icon]="faUser "></fa-icon> &nbsp;<b>Akhil Sharma</b> &nbsp;&nbsp; <span><fa-icon
                          [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> </span> </p>
                    <p>BTech</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="slide">
              <div class="card-group">
                <div class="card">
                  <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis
                      fugiat ullam quidem, asperiores saepe neque blanditiis aliquid. Cum tempore nobis est autem
                      reiciendis soluta minus ducimus saepe sint, porro possimus ab nulla in pariatur quia eius,
                      inventore laboriosam dolore. <br><br></p>

                  </div>
                  <div class="card-footer">
                    <p><fa-icon [icon]="faUser "></fa-icon> &nbsp;<b>swasthik sharma</b> &nbsp;&nbsp; <span><fa-icon
                          [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> </span> </p>
                    <p>Btech</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide">
            <div class="slide">
              <div class="card-group">
                <div class="card">
                  <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis
                      fugiat ullam quidem, asperiores saepe neque blanditiis aliquid. Cum tempore nobis est autem
                      reiciendis soluta minus ducimus saepe sint, porro possimus ab nulla in pariatur quia eius,
                      inventore laboriosam dolore. <br><br></p>

                  </div>
                  <div class="card-footer">
                    <p><fa-icon [icon]="faUser "></fa-icon> &nbsp;<b>abhinav sharma</b> &nbsp;&nbsp; <span><fa-icon
                          [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> </span> </p>
                    <p>Btech</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide">
            <div class="slide">
              <div class="card-group">
                <div class="card">
                  <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nemo quod
                      quos harum! Odit nisi perspiciatis enim soluta? Totam minima eligendi explicabo, facere asperiores
                      accusamus quis, quo aut cumque ad alias error quae ducimus delectus optio omnis! Magnam, animi
                      quaerat? <br><br></p>

                  </div>
                  <div class="card-footer">
                    <p><fa-icon [icon]="faUser "></fa-icon> &nbsp;<b>kunal verma</b> &nbsp;&nbsp; <span><fa-icon
                          [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
                        <fa-icon [icon]="faStar " class="text-warning"></fa-icon> <fa-icon [icon]="faStar "
                          class="text-warning"></fa-icon> </span> </p>
                    <p>Btech</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>

    </div>



  </div>
</div>
<!-- feedback end -->

<!--  -->
<!-- <div class="row mx-0 justify-content-center pt-5">
    <div class="col-lg-6">
        <div class="section-title text-left position-relative mb-4">
          
            <h1 class="display-4 " style="font-weight:700;"> Join our Coding family</h1> <br><br>

            <h3>If you would like to keep up on the latest posts and courses,
                come by and connect with us on the following links.</h3>
        </div>
    </div>
</div> -->