<!-- card -->
<div class="containers">
    <br>
    <div class="card" style="width: 25rem; border-radius: 15px; ">

        <img src="../../../.././../assets/fullstack.png" class="imagesize card-img-top" alt="...">
        <div class="card-body">


            <!--  -->
            <h5 class="card-title">
                <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 4900</b> &nbsp;&nbsp;
                <span class="text-decoration">
                    <fa-icon [icon]="faIndianRupeeSign"></fa-icon><b> 6000</b>
                </span> &nbsp;&nbsp;
            </h5>

            <a href="#" class="btn btn-primary w-100">Buy now</a>
            <p class="card-text">This courses include:</p>
            <ul>
                <li>No Prerequisite Required</li>
                <li>150 Hours On Demand Video</li>
                <li>MEAN Stack Beginner to Advanced</li>
                <li>Industry Grade Projects</li>
                <li>With Doubt Assistance</li>
            </ul>
        </div>
    </div>


</div>



<!-- wlc msg -->
<div class="text-white position">
    <p style="font-size:25px">Welcome to <strong>E-Skills</strong> family</p>
    <h1 style="font-size: 46px; font-weight: 700;">Web Development master <br> Course @Eskills</h1>
    <p style="font-size: 25px;">Build fullstack React.js applications with Node.js, Express.js & <br> MongoDB (MERN)
        with this project-focused course.
    </p>

    <span>4.8 <span><fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
        </span></span>
    <p style="font-size: 1.125rem;
  line-height: 1.75rem;"><fa-icon [icon]="faGlobe"></fa-icon> English / Hindi <fa-icon [icon]="faVideo"></fa-icon>
        10+courses</p><br>



</div>


<!-- learn -->
<div style="margin-top: 50px;margin-bottom: 100px;">

    <div class="container">


        <table class="table">
            <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Sr.No</th>
                    <th scope="col" colspan="2" >what you will learn</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon> HTML, CSS, JavaScript,CSS Animations
                        </td>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Tailwind CSS, Core JavaScript</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon>End to End React.js Application</td>
                    <td><fa-icon [icon]="faCheck"></fa-icon>15+ Industry Grade Projects</td>
                    

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Building all Project from absolute Scratch</td>
                    <td><fa-icon [icon]="faCheck"></fa-icon>End to End Backend with Node.js and Express.js</td>
                    

                </tr>
                 
            </tbody>
        </table>



       
    </div>

</div>

<!-- courses include -->
<div style="margin-top: 50px;margin-bottom: 100px; margin-left:400px">

    <div class="container">

        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">This course includes:</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px"><fa-icon [icon]="faVideo"></fa-icon> 42 hours on-demand video</td>&nbsp;
                &nbsp; &nbsp;&nbsp;
                <td style="padding-left:30px"><fa-icon [icon]="faFile"></fa-icon> 30 article</td> &nbsp; &nbsp; &nbsp;
            </tr>
            <tr>
                <td style="padding-left:30px;padding-top: 15px;"><fa-icon [icon]="faMobile"></fa-icon>Access on mobile
                    and TV</td> &nbsp;
                &nbsp; &nbsp;
                <td style="padding-left:30px; padding-top: 15px;"><fa-icon [icon]="faAward"></fa-icon>Certificate of
                    completion</td> &nbsp;
                &nbsp; &nbsp;
            </tr>
        </table>
    </div>

</div>
<hr style="height:10px;border-width:0;color:black;background-color:black">
<!-- basic details -->
<div style="margin-top: 50px;margin-bottom: 100px; ">

    <div class="container" >

        <table class="table" style="background-color: #e0e3f5; color:#6674cc">
            <thead>
                <tr style="font-size: 20px;" >
                    <th scope="col">Sr.No</th>
                    <th scope="col" colspan="2" >Basic Details</th>

                </tr>
            </thead>
            <tbody>
                <tr >
                    <th scope="row">1</th>
                    <td>Course Starts On</td>
                    <td>10th june 2023</td>

                </tr>
                <tr >
                    <th scope="row">2</th>
                    <td>Class Timings</td>
                    <td>8:00 PM to 10:00 PM (IST)</td>

                </tr>
                <tr >
                    <th scope="row">3</th>
                    <td>Mode of the Course</td>
                    <td>Online Live Classes</td>

                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Technologies that you will Learn</td>
                    <td>HTML, CSS, JavaScript, MongoDB, Express.js, Angular</td>

                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>No. Of Lectures</td>
                    <td>72</td>

                </tr>

                <tr>
                    <th scope="row">6</th>
                    <td>Class Recording Provided</td>
                    <td>yes</td>

                </tr>


                <tr>
                    <th scope="row">7</th>
                    <td>Doubt Classes</td>
                    <td>15+ Doubt Sections</td>

                </tr>

                <tr>
                    <th scope="row">8</th>
                    <td>Course Validity</td>
                    <td>1.5 years</td>

                </tr>
            </tbody>
        </table>

    </div>

</div>
<hr style="height:10px;border-width:0;color:black;background-color:black">
<!-- courses -->
<div style="margin-top: 50px;margin-bottom: 100px;  margin-left:430px">
    <div class="container" sty>
        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Course Content</th>
                <th></th>
            </tr> <br>
            <!-- html course -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        HTML Basics
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Introduction to the course</a></li>
                        <li><a class="dropdown-item" href="#">2.Courses requirement and format</a></li>
                        <li><a class="dropdown-item" href="#">3.Setting up html documents</a></li>
                        <li><a class="dropdown-item" href="#">4.Header and paragraph tags</a></li>
                        <li><a class="dropdown-item" href="#">5.style</a></li>
                        <li><a class="dropdown-item" href="#">6.more than one style</a></li>
                        <li><a class="dropdown-item" href="#">7.Bold, Italics, underline and tags within tags</a></li>
                        <li><a class="dropdown-item" href="#">8. More Tags</a></li>
                        <li><a class="dropdown-item" href="#">9. Setting up a link</a></li>
                        <li><a class="dropdown-item" href="#">10. Adding an image</a></li>
                        <li><a class="dropdown-item" href="#">11.Adding a link to the image</a></li>
                        <li><a class="dropdown-item" href="#">12. Lists</a></li>
                        <li><a class="dropdown-item" href="#">13.Tables</a></li>
                        <li><a class="dropdown-item" href="#">14. Playing around with styles</a></li>
                        <li><a class="dropdown-item" href="#">15.Forms</a></li>
                        <li><a class="dropdown-item" href="#">16.Radio, checkboxes and password</a></li>
                        <li><a class="dropdown-item" href="#">17.Submit buttons</a></li>
                        <li><a class="dropdown-item" href="#">18.Script tags and javascript</a></li>
                    </ul>
                </div>


            </tr>
            <br>

            <!-- css course -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        CSS Basics
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Introduction to the course</a></li>
                        <li><a class="dropdown-item" href="#">2.Courses requirement and format</a></li>
                        <li><a class="dropdown-item" href="#">3.selector,box model</a></li>
                        <li><a class="dropdown-item" href="#">4.styling font images</a></li>
                        <li><a class="dropdown-item" href="#">5.learn about height and width</a></li>
                        <li><a class="dropdown-item" href="#">6.changing font</a></li>
                        <li><a class="dropdown-item" href="#">7.changing color of modules</a></li>
                    </ul>
                </div>


            </tr>

            <br>
            <!-- flexbox -->

            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Flex Box and Grid
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.CSS Flexbox </a></li>
                        <li><a class="dropdown-item" href="#">2.Grid Container</a></li>
                        <li><a class="dropdown-item" href="#">3.Responsiveness,</a></li>
                        <li><a class="dropdown-item" href="#">4.Minor Project based on HTML and CSS,</a></li>

                    </ul>
                </div>
            </tr>
            <br>
            <!-- animation  -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Animation and Responsiveness
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Animation and keyframes </a></li>
                        <li><a class="dropdown-item" href="#"> 2.Transition</a></li>
                        <li><a class="dropdown-item" href="#">3.Shorthand Animation,</a></li>
                        <li><a class="dropdown-item" href="#">4.Media Query</a></li>
                        <li><a class="dropdown-item" href="#">5.Responsive Design of Text and Images</a></li>

                    </ul>
                </div>
            </tr>
            <br>
            <!-- js basic -->

            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        JavaScript Basic
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Introduction to JS, Variable </a></li>
                        <li><a class="dropdown-item" href="#">2.Datatypes,Operator Precidence</a></li>
                        <li><a class="dropdown-item" href="#">3.Control Statements if else</a></li>
                        <li><a class="dropdown-item" href="#">4.loops, Switch Case, Array and Strings</a></li>
                        <li><a class="dropdown-item" href="#">5.Scope Chaining, this keyword</a></li>
                        <li><a class="dropdown-item" href="#">6.Functions, Callback, Arrow Functions</a></li>
                        <li><a class="dropdown-item" href="#">7.FIll, Filter, Map, Slice, Splice</a></li>

                    </ul>
                </div>
            </tr>
            <br>
            <!-- angular baisc -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Angular Basic
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Installing Tools, Setting up First Anngular App. </a>
                        </li>
                        <li><a class="dropdown-item" href="#">2.Components, Props</a></li>
                        <li><a class="dropdown-item" href="#">3.useState, Mini Project</a></li>
                        <li><a class="dropdown-item" href="#">4.Learn to use External Packages and External APIs</a>
                        </li>

                    </ul>
                </div>
            </tr>
            <br>
            <!-- Understanding Express and Mongoose -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Understanding Express and Mongoose
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Setting up tools for Backend, Setting up a Server</a>
                        </li>
                        <li><a class="dropdown-item" href="#">2.Understand request and response</a></li>
                        <li><a class="dropdown-item" href="#">3.Understanding Mongoose and Interacting with MongoDB</a>
                        </li>
                        <li><a class="dropdown-item" href="#">4.A Small Backend Project</a></li>

                    </ul>
                </div>
            </tr>
            <br>
            <!-- mega project -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Flex Box and Grid
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Designing End-to-End Flow of Application and Developing
                                the Backend</a></li>
                        <li><a class="dropdown-item" href="#">2.Using Postman to test APIs</a></li>
                        <li><a class="dropdown-item" href="#">3.Designing and Developing the UI of Frontend</a></li>


                        <li><a class="dropdown-item" href="#">4.Finishing with UI Development and Starting With API
                                Integration.</a></li>
                        <li><a class="dropdown-item" href="#">5.Final End-to-End Testing and Checks with bug Fixes</a>
                        </li>

                    </ul>
                </div>
            </tr>
            <br>

            <!-- end -->



        </table>
    </div>

</div>

<hr style="height:10px;border-width:0;color:black;background-color:black">
<!-- requirements & description -->
<div style="margin-top: 50px;margin-bottom: 100px;margin-left: 400px;">

    <div class="container">


        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Requirements</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px">
                    <ul>
                        <li>An internet connection</li>
                    </ul>
                </td>&nbsp;
                &nbsp; &nbsp;&nbsp;

            </tr>
            <tr>
                <td style="padding-left:30px">
                    <ul>
                        <li>An up to date web browser</li>
                    </ul>
                </td> &nbsp;
                &nbsp; &nbsp;

            </tr>
        </table>


        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Description</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Perferendis, nobis eaque nesciunt dignissimos dolorem perspiciatis. <br>
                    Laudantium ipsa magnam rem dolore inventore, mollitia eaque voluptates <br>
                    facere assumenda ipsum perferendis nemo ratione, dolorem eius tenetur <br>
                    praesentium officiis error illo tempora dignissimos reiciendis necessitatibus! <br>
                    Iste debitis ullam illo minima officiis quasi incidunt. Molestiae. </td>&nbsp;
                &nbsp; &nbsp;&nbsp;

            </tr>

        </table>
    </div>

</div>

<hr style="height:10px;border-width:0;color:black;background-color:black">
<br>
<!-- instructor -->
<h3 style="margin-left: 440px;">Instructor</h3>

<br>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="../../../../../assets/team-2.jpg" alt="" style="position: relative;
        left: 200px;">
        </div>
        <div class="col" style="text-align: left;">
            <br><br>
            <h5>JOhnyy dip</h5>
            <h4>Ex Software Engineer</h4>
            <p>Lorem ipsum dolor sit amet consectetur,<br>
                adipisicing elit. Eaque repudiandae aliquam <br>
                reiciendis ratione neque est accusamus. <br>
                Tempora blanditiis excepturi animi reprehenderit <br>
                aliquam atque at expedita, amet magnam <br>
                adipisicing elit. Eaque repudiandae aliquam <br>
                reiciendis ratione neque est accusamus. <br>
                Tempora blanditiis excepturi animi reprehenderit <br>
                aliquam atque at expedita, amet magnam <br></p>
        </div>
    </div>

</div>

<hr>






<!--  -->