<div class="containers">
    <br>
    <div class="card" style="width: 25rem; border-radius: 15px; ">

        <img src="../../../.././../assets/courses-5.jpg" class="imagesize card-img-top" alt="...">
        <div class="card-body">


            <!--  -->
            <h5 class="card-title">
                <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 1500</b> &nbsp;&nbsp;
                <span class="text-decoration">
                    <fa-icon [icon]="faIndianRupeeSign"></fa-icon><b> 3000</b>
                </span> &nbsp;&nbsp;
            </h5>

            <a href="#" class="btn btn-primary w-100">Buy now</a>
            <p class="card-text">This courses include:</p>
            <ul>
                <li>No Prerequisite Required</li>
                <li>150 Hours On Demand Video</li>
                <li>HTML Beginner to Advanced</li>
                <li>Industry Grade Projects</li>
                <li>With Doubt Assistance</li>
            </ul>
        </div>
    </div>


</div>



<!--  -->
<div class="text-white position">
    <p style="font-size:25px">Welcome to <strong>E-Skills</strong> family</p>
    <h1 style="font-size: 46px; font-weight: 700;">CSS Course @Eskills</h1>
    <p style="font-size: 25px;">Learn how to code in Css in 10 hour. <br> This class is set up for complete beginners!
    </p>

    <span>4.8 <span><fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
        </span></span>
    <p style="font-size: 1.125rem;
  line-height: 1.75rem;"><fa-icon [icon]="faGlobe"></fa-icon> English / Hindi <fa-icon [icon]="faVideo"></fa-icon>
        10+courses</p><br>



</div>


<!-- what we will learn  -->
<div style="margin-top: 50px;margin-bottom: 100px;">

    <div class="container">


        <table class="table">
            <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Sr.No</th>
                    <th scope="col" colspan="2" style="text-align: center;">what you will learn</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon> Learn why CSS is amazing, not something to be afraid of!
                    </td>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Flexbox, grid, animations, transitions, fonts, media queries
                        and much more - it's all included!</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Use basic as well as advanced CSS features
                    <td><fa-icon [icon]="faCheck"></fa-icon>Understand the concepts and theory behind CSS and certain
                        CSS features
                    </td>



                </tr>


            </tbody>
        </table>




    </div>

</div>



<!-- courses include -->
<div style="margin-top: 50px;margin-bottom: 100px; margin-left:400px">

    <div class="container">

        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">This course includes:</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px"><fa-icon [icon]="faVideo"></fa-icon> 10 hours on-demand video</td>&nbsp;
                &nbsp; &nbsp;&nbsp;
                <td style="padding-left:30px"><fa-icon [icon]="faFile"></fa-icon> 5 article</td> &nbsp; &nbsp; &nbsp;
            </tr>
            <tr>
                <td style="padding-left:30px;padding-top: 15px;"><fa-icon [icon]="faMobile"></fa-icon>Access on mobile
                    and TV</td> &nbsp;
                &nbsp; &nbsp;
                <td style="padding-left:30px; padding-top: 15px;"><fa-icon [icon]="faAward"></fa-icon>Certificate of
                    completion</td> &nbsp;
                &nbsp; &nbsp;
            </tr>
        </table>
    </div>

</div>
<hr style="height:10px;border-width:0;color:black;background-color:black">
<!-- basic details -->
<div style="margin-top: 50px;margin-bottom: 100px;">

    <div class="container" sty>

        <table class="table" style="background-color: 
        #e0e3f5; color:#6674cc">
            <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Sr.No</th>
                    <th scope="col" colspan="2">Basic Details</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Course Starts On</td>
                    <td>5th august 2022</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Class Timings</td>
                    <td>8:00 PM to 10:00 PM (IST)</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mode of the Course</td>
                    <td>Online Live Classes</td>

                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Technologies that you will Learn</td>
                    <td> CSS</td>

                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>No. Of Lectures</td>
                    <td>32</td>

                </tr>

                <tr>
                    <th scope="row">6</th>
                    <td>Class Recording Provided</td>
                    <td>yes</td>

                </tr>


                <tr>
                    <th scope="row">7</th>
                    <td>Doubt Classes</td>
                    <td>15+ Doubt Sections</td>

                </tr>

                <tr>
                    <th scope="row">8</th>
                    <td>Course Validity</td>
                    <td>1.5 years</td>

                </tr>
            </tbody>
        </table>

    </div>

</div>


<!-- basic details -->
<div style="margin-top: 50px;margin-bottom: 100px;  margin-left:430px">
    <div class="container" sty>
        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Course Content</th>
                <th></th>
            </tr> <br>
            <!-- Introduction of courses -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Introduction of courses
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.You should know the very basics about HTML and web development in general</a></li>
                      <li><a class="dropdown-item" href="#">2.NO advanced HTML or web development knowledge is required though</a></li>
                        <li><a class="dropdown-item" href="#">3.NO CSS knowledge is required at all! You'll learn it all in this course!
                        </a></li>
                        
                        
                    </ul>
                </div>


            </tr>
            <br>

            <!-- Basic of css -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       Basic Of Css
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.style</a></li>
                        <li><a class="dropdown-item" href="#">2.The basics about selectors, combinators</a></li>
                        <li><a class="dropdown-item" href="#">3.styling rules in general</a></li>
                        <li><a class="dropdown-item" href="#">4. Properties, values and decalarations</a></li>
                          
                    </ul>
                </div>


            </tr>

            <br>

            <!-- Style Sheets-->

            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Style Sheets
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1. Cascading Style Sheets</a></li>
                        <li><a class="dropdown-item" href="#">2. Box Model</a></li>
                        <li><a class="dropdown-item" href="#">3.Adding a link to the image</a></li>

                    </ul>
                </div>
            </tr>
            <br>
            <!-- Style and images  -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Styling and position of element
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Styling backgrounds</a></li>
                      <li><a class="dropdown-item" href="#">2.How the default position of elements can be changed</a></li>
                      <li><a class="dropdown-item" href="#">3.Responsive design and what "Mobile First" means</a></li>

                    </ul>
                </div>
            </tr>
<br>
<!-- forms -->
<tr>
    <div class="dropdown">
        <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Forms
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">1.Styling forms and form inputs</a></li>
          <li><a class="dropdown-item" href="#">2.Working with text, fonts and text styles</a></li>
          <li><a class="dropdown-item" href="#">3.Flexbox! How it works and how to use it</a></li>

        </ul>
    </div>
</tr>
<br>
            <tr>
                <select name="cars" id="lastlecture" class="optionsheading">
                    <option value="">Congratulations you are finished!</option>
                    <option value="conclusion" class="text-left">18 course conclusion</option>
                    <option value="bonus" class="text-left">Bonus lecture</option>

                </select>
            </tr>
            <br>
            

        </table>
    </div>

</div>



<hr style="height:10px;border-width:0;color:black;background-color:black">

<div style="margin-top: 50px;margin-bottom: 100px;margin-left: 400px;">

    <div class="container">


        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Requirements</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px">
                    <ul>
                        <li>An internet connection</li>
                    </ul>
                </td>&nbsp;
                &nbsp; &nbsp;&nbsp;

            </tr>
            <tr>
                <td style="padding-left:30px">
                    <ul>
                        <li>An up to date web browser</li>
                    </ul>
                </td> &nbsp;
                &nbsp; &nbsp;

            </tr>
        </table>


        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Description</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Perferendis, nobis eaque nesciunt dignissimos dolorem perspiciatis. <br>
                    Laudantium ipsa magnam rem dolore inventore, mollitia eaque voluptates <br>
                    facere assumenda ipsum perferendis nemo ratione, dolorem eius tenetur <br>
                    praesentium officiis error illo tempora dignissimos reiciendis necessitatibus! <br>
                    Iste debitis ullam illo minima officiis quasi incidunt. Molestiae. </td>&nbsp;
                &nbsp; &nbsp;&nbsp;

            </tr>

        </table>
    </div>

</div>

<hr style="height:10px;border-width:0;color:black;background-color:black">

<div class="container">
    <div class="row">
        <div class="col">
            <img src="../../../../../assets/team-2.jpg" alt="" style="position: relative;
        left: 200px;">
        </div>
        <div class="col" style="text-align: left;">
            <br><br>
            <h5>JOhnyy dip</h5>
            <h4>Ex Software Engineer</h4>
            <p>Lorem ipsum dolor sit amet consectetur,<br>
                adipisicing elit. Eaque repudiandae aliquam <br>
                reiciendis ratione neque est accusamus. <br>
                Tempora blanditiis excepturi animi reprehenderit <br>
                aliquam atque at expedita, amet magnam <br>
                adipisicing elit. Eaque repudiandae aliquam <br>
                reiciendis ratione neque est accusamus. <br>
                Tempora blanditiis excepturi animi reprehenderit <br>
                aliquam atque at expedita, amet magnam <br></p>
        </div>
    </div>

</div>

<hr>






<!--  -->