<div >
    <div class="rightalign" >
    <div class="position card-group"  >
        <div class="card" style="background-color:white;">
          <img class="htmlimageposition card-img-top" src="../../../../../assets/html5-386614_1920.jpg" alt="Card image cap" >
          <div class="card-body" style="background-color: #dadef3;">
            <p >
                <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 4500</b> &nbsp;&nbsp; 
                <span class="text-decoration"> 
                    <fa-icon [icon]="faIndianRupeeSign"></fa-icon><b> 6999</b>
                </span>  &nbsp;&nbsp;
            </p>
            <button style="width: 375px;height: 40px;border-radius: 10px; background-color:
            #6674cc ; border:none;color:white;font-size:20px">Buy now</button><br><br>
            <h2 class="card-text">This courses include:</h2>
            
                <ul >
                    <li>No Prerequisite Required</li>
                    <li>150 Hours On Demand Video</li>
                    <li>HTML Beginner to Advanced</li>
                    <li>Industry Grade Projects</li>
                    <li>With Doubt Assistance</li>
                  </ul>
            
          </div>
          <div class="card-footer" style="background-color: cornflowerblue;">
            <p > <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 4500</b> &nbsp;&nbsp; 
                 <span class="text-decoration"> <fa-icon [icon]="faIndianRupeeSign  " ></fa-icon><b> 6999</b></span>  &nbsp;&nbsp;
                <button class="bg-color"> 42% off</button> </p>  
            
          </div>
        </div>
        
      </div>

    </div>
</div>