

<!-- courses start -->
<div class="container">
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                    <h1 class="display-4" style="font-weight:700;">What would you like to learn?</h1> <br><br>
                </div>
            </div>
        </div>
        <!-- tring owl crosel  -->
        <div class="carosel">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="slide margin-right">
                        <div class="card-group">
                            <div class="card" style="position:relative;top:18px">
                                <div >
                              <img class="card-img-top " src="../../../../../assets/cour1.png" alt="Card image cap" style="border-radius: 17px; height:300px">
                            </div>
                              <div class="card-body">
                                <h5 class="card-title">HTML course</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                              <div class="card-footer" style="background-color: cornflowerblue;">
                                <p > <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 500</b> &nbsp;&nbsp; 
                                     <span class="text-decoration"> <fa-icon [icon]="faIndianRupeeSign  " ></fa-icon><b> 999</b></span>  &nbsp;&nbsp;
                                    <button class="bg-color"> 44% off</button> </p>  
                                
                              </div>
                            </div>
                            
                          </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide">
                        <div class="slide margin-right">
                            <div class="card-group">
                                <div class="card">
                                  <img class="card-img-top" src="../../../../../assets/cour2.png" alt="Card image cap"  style="border-radius: 17px; height:300px">
                                  <div class="card-body">
                                    <h5 class="card-title">Full web development</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  </div>
                                  <div class="card-footer" style="background-color: cornflowerblue;">
                                    <p > <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 3000</b> &nbsp;&nbsp; 
                                         <span class="text-decoration"> <fa-icon [icon]="faIndianRupeeSign  " ></fa-icon><b> 7000</b></span>  &nbsp;&nbsp;
                                        <button class="bg-color"> 40% off</button> </p>  
                                    
                                  </div>
                                </div>
                                
                              </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide">
                        <div class="slide margin-right">
                            <div class="card-group">
                                <div class="card">
                                  <img class="card-img-top" src="../../../../../assets/cour3.png" alt="Card image cap"  style="border-radius: 17px; height:300px">
                                  <div class="card-body">
                                    <h5 class="card-title">Css</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  </div>
                                  <div class="card-footer" style="background-color: cornflowerblue;">
                                    <p > <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 4500</b> &nbsp;&nbsp; 
                                         <span class="text-decoration"> <fa-icon [icon]="faIndianRupeeSign  " ></fa-icon><b> 6999</b></span>  &nbsp;&nbsp;
                                        <button class="bg-color"> 42% off</button> </p>  
                                    
                                  </div>
                                </div>
                                
                              </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide">
                        <div class="slide">
                            <div class="card-group">
                                <div class="card">
                                  <img class="card-img-top" src="../../../../../assets/angular.jpg" alt="Card image cap"  style="border-radius: 50%; height:300px">
                                  <div class="card-body">
                                    <h5 class="card-title">Typescript</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  </div>
                                  <div class="card-footer" style="background-color: cornflowerblue;">
                                    <p > <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 3000</b> &nbsp;&nbsp; 
                                         <span class="text-decoration"> <fa-icon [icon]="faIndianRupeeSign  " ></fa-icon><b> 7000</b></span>  &nbsp;&nbsp;
                                        <button class="bg-color"> 40% off</button> </p>  
                                    
                                  </div>
                                </div>
                                
                              </div>
                        </div>
                    </div>
                </ng-template>
                
            </owl-carousel-o>
    
        </div>
    
    
    
    </div>
    </div>
    
    <!-- courses end -->



    