<!-- card -->
<div class="containers">
    <br>
    <div class="card" style="width: 25rem; border-radius: 15px; ">

        <img src="../../../.././../assets/angular.jpg" class="imagesize card-img-top" alt="...">
        <div class="card-body">


            <!--  -->
            <h5 class="card-title">
                <fa-icon [icon]="faIndianRupeeSign  "></fa-icon><b> 3000</b> &nbsp;&nbsp;
                <span class="text-decoration">
                    <fa-icon [icon]="faIndianRupeeSign"></fa-icon><b> 4000</b>
                </span> &nbsp;&nbsp;
            </h5>

            <a routerLink="/ordersummary" class="btn btn-primary w-100">Buy now</a>
            <p class="card-text">This courses include:</p>
            <ul>
                <li>No Prerequisite Required</li>
                <li>70 Hours On Demand Video</li>
                <li>Angular  Beginner to Advanced</li>
                <li>Industry Grade Projects</li>
                <li>With Doubt Assistance</li>
            </ul>
        </div>
    </div>


</div>



<!-- wlc msg -->
<div class="text-white position">
    <p style="font-size:25px">Welcome to <strong>E-Skills</strong> family</p>
    <h1 style="font-size: 46px; font-weight: 700;">Complete Angular Development Course <br>2023 @Eskills</h1>
    <p style="font-size: 25px;">Get job ready with Angular! Master the latest version <br> of Angular and learn to build large scale apps that set you apart
    </p>

    <span>4.2 <span><fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
            <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
        </span></span>
    <p style="font-size: 1.125rem;
  line-height: 1.75rem;"><fa-icon [icon]="faGlobe"></fa-icon> English / Hindi <fa-icon [icon]="faVideo"></fa-icon>
        10+courses</p><br>



</div>


<!-- learn -->
<div style="margin-top: 50px;margin-bottom: 100px;">

    <div class="container">


        <table class="table">
            <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Sr.No</th>
                    <th scope="col" colspan="2" style="text-align: center;" >what you will learn</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon> Build enterprise level Angular and TypeScript applications to deploy to production
                        </td>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Use WebAssembly and Rust in your applications to improve </td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Set up authentication and user accounts Rust in your applications to improve
                    </td>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Use RxJS and Streams in your applications Rust in your applications</td>
                    

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Learn to deal with Memory Leaks in your projects to improve performance</td>
                    <td><fa-icon [icon]="faCheck"></fa-icon>Master Production and Deployment of a professional Angular app</td>
                    

                </tr>
                 
            </tbody>
        </table>



       
    </div>

</div>

<!-- courses include -->
<div style="margin-top: 50px;margin-bottom: 100px; margin-left:400px">

    <div class="container">

        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">This course includes:</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px"><fa-icon [icon]="faVideo"></fa-icon> 70 hours on-demand video</td>&nbsp;
                &nbsp; &nbsp;&nbsp;
                <td style="padding-left:30px"><fa-icon [icon]="faFile"></fa-icon> 20 article</td> &nbsp; &nbsp; &nbsp;
            </tr>
            <tr>
                <td style="padding-left:30px;padding-top: 15px;"><fa-icon [icon]="faMobile"></fa-icon>Access on mobile
                    and TV</td> &nbsp;
                &nbsp; &nbsp;
                <td style="padding-left:30px; padding-top: 15px;"><fa-icon [icon]="faAward"></fa-icon>Certificate of
                    completion</td> &nbsp;
                &nbsp; &nbsp;
            </tr>
        </table>
    </div>

</div>
<hr style="height:10px;border-width:0;color:black;background-color:black">
<!-- basic details -->
<div style="margin-top: 50px;margin-bottom: 100px;">

    <div class="container" sty>

        <table class="table" style="background-color: 
        #e0e3f5; color:#6674cc">
            <thead>
                <tr style="font-size: 20px;" >
                    <th scope="col">Sr.No</th>
                    <th scope="col" colspan="2" >Basic Details</th>

                </tr>
            </thead>
            <tbody>
                <tr >
                    <th scope="row">1</th>
                    <td>Course Starts On</td>
                    <td>5th august 2023</td>

                </tr>
                <tr >
                    <th scope="row">2</th>
                    <td>Class Timings</td>
                    <td>8:00 PM to 10:00 PM (IST)</td>

                </tr>
                <tr >
                    <th scope="row">3</th>
                    <td>Mode of the Course</td>
                    <td>Online Live Classes</td>

                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Technologies that you will Learn</td>
                    <td>HTML, CSS, JavaScript, MongoDB, Express.js, Angular</td>

                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>No. Of Lectures</td>
                    <td>72</td>

                </tr>

                <tr>
                    <th scope="row">6</th>
                    <td>Class Recording Provided</td>
                    <td>yes</td>

                </tr>


                <tr>
                    <th scope="row">7</th>
                    <td>Doubt Classes</td>
                    <td>15+ Doubt Sections</td>

                </tr>

                <tr>
                    <th scope="row">8</th>
                    <td>Course Validity</td>
                    <td>1.5 years</td>

                </tr>
            </tbody>
        </table>

    </div>

</div>
<hr style="height:10px;border-width:0;color:black;background-color:black">
<!-- courses -->
<div style="margin-top: 50px;margin-bottom: 100px;  margin-left:430px">
    <div class="container" sty>
        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Course Content</th>
                <th></th>
            </tr> <br>
            <!-- html course -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle"style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Introduction
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.The Angular CLI
                        </a></li>
                        <li><a class="dropdown-item" href="#">2.Creating a New Application
                        </a></li>
                        <li><a class="dropdown-item" href="#">3.Starting the server
                        </a></li>
                        <li><a class="dropdown-item" href="#">4.Time For TypeScript
                        </a></li>
                        <li><a class="dropdown-item" href="#">5.Understanding Components

                        </a></li>
                        
                    </ul>
                </div>


            </tr>
            <br>

            <!-- css course -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       Typescript
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Introduction of typescript</a></li>
                        <li><a class="dropdown-item" href="#">2.Installing TypeScript
                        </a></li>
                        <li><a class="dropdown-item" href="#">3.Type Annotations
                        </a></li>
                        <li><a class="dropdown-item" href="#">4.Variables
,Union Types,Arrays

</a></li>
                        <li><a class="dropdown-item" href="#">5.Objects,Interfaces,Classes


                        </a></li>
                        
                    </ul>
                </div>


            </tr>

            <br>
            <!-- Component Fundamentals -->

            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Component Fundamentals
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Interpolation,prperty binding, event binding
                        </a></li>
                        <li><a class="dropdown-item" href="#">2.Type Assertions,create component
                        </a></li>
                        <li><a class="dropdown-item" href="#">3.Custom Properties,input alisas
                            </a></li>
                        <li><a class="dropdown-item" href="#">4.Discovering Lifecycle Hooks
                        </a></li>

                    </ul>
                </div>
            </tr>
            <br>
            <!-- Forms  -->
            <tr>
                <div class="dropdown">
                    <button class="optionsheading btn btn-secondary dropdown-toggle" style="color:#6674cc;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       Forms
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1.Reactive forms </a></li>
                        <li><a class="dropdown-item" href="#"> 2.Template forms</a></li>
                       

                    </ul>
                </div>
            </tr>
            <br>
            

        </table>
    </div>

</div>

<hr style="height:10px;border-width:0;color:black;background-color:black">
<!-- requirements & description -->
<div style="margin-top: 50px;margin-bottom: 100px;margin-left: 400px;">

    <div class="container">


        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Requirements</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px">
                    <ul>
                        <li>An internet connection</li>
                    </ul>
                </td>&nbsp;
                &nbsp; &nbsp;&nbsp;

            </tr>
            <tr>
                <td style="padding-left:30px">
                    <ul>
                        <li>An up to date web browser</li>
                    </ul>
                </td> &nbsp;
                &nbsp; &nbsp;

            </tr>
        </table>


        <table style=" font-size:20px;">
            <tr>
                <th style="padding-left:30px;font-size:25px">Description</th>
                <th></th>
            </tr> <br>
            <tr>
                <td style="padding-left:30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Perferendis, nobis eaque nesciunt dignissimos dolorem perspiciatis. <br>
                    Laudantium ipsa magnam rem dolore inventore, mollitia eaque voluptates <br>
                    facere assumenda ipsum perferendis nemo ratione, dolorem eius tenetur <br>
                    praesentium officiis error illo tempora dignissimos reiciendis necessitatibus! <br>
                    Iste debitis ullam illo minima officiis quasi incidunt. Molestiae. </td>&nbsp;
                &nbsp; &nbsp;&nbsp;

            </tr>

        </table>
    </div>

</div>

<hr style="height:10px;border-width:0;color:black;background-color:black">
<br>
<!-- instructor -->
<h3 style="margin-left: 440px;">Instructor</h3>

<br>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="../../../../../assets/team-1.jpg" alt="" style="position: relative;
        left: 200px;">
        </div>
        <div class="col" style="text-align: left;">
            <br><br>
            <h5>suman sharma</h5>
            <h4>Ex Software Engineer</h4>
            <p>Lorem ipsum dolor sit amet consectetur,<br>
                adipisicing elit. Eaque repudiandae aliquam <br>
                reiciendis ratione neque est accusamus. <br>
                Tempora blanditiis excepturi animi reprehenderit <br>
                aliquam atque at expedita, amet magnam <br>
                adipisicing elit. Eaque repudiandae aliquam <br>
                reiciendis ratione neque est accusamus. <br>
                Tempora blanditiis excepturi animi reprehenderit <br>
                aliquam atque at expedita, amet magnam <br></p>
        </div>
    </div>

</div>

<hr>






<!--  -->