
<div >
  
  <img src="../../../../../assets/smartboard-1523538.jpg" class="d-block w-100" alt="..." style="height:600px">

</div>

<div class="container">
<div class="  align-items-center justify-content-center">
  <div class="  " style="position: absolute;top: 200px;left: 220px;color:white">
    <h1> <strong>A Platform for the next <br>generation of learners!</strong> </h1><br>
    <h4>Place for imparting education to next-generation students.</h4><br>
    <h4>4.7 <span><fa-icon [icon]="faStar " class="text-warning"></fa-icon>
       <fa-icon [icon]="faStar "class="text-warning"></fa-icon> 
       <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
      <fa-icon [icon]="faStar " class="text-warning"></fa-icon> 
      <fa-icon [icon]="faStar " class="text-warning"></fa-icon>
     </span></h4>
     <h4><fa-icon [icon]="faGlobe"></fa-icon> English / Hindi <fa-icon [icon]="faVideo"></fa-icon> 10+courses</h4><br>
     <button style="font-size: 20px;padding:10px ; border-radius: 10px; background-color: #dc3545;color:white">Start Learning</button>
    </div>
</div>
</div>

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="../../../../../assets/about.png"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                    <h1 class="display-4">First Choice For Online Education Anywhere</h1>
                </div>
                <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua
                    sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et
                    sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod,
                    dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et magna
                </p>
                <div class="row pt-3 mx-0">
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">123</h1>
                            <h6 class="text-uppercase text-white">Available<span class="d-block">Subjects</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-danger text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">1234</h1>
                            <h6 class="text-uppercase text-white">Online<span class="d-block">Courses</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">123</h1>
                            <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-danger text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">1234</h1>
                            <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- feature  start-->
<div class="container-fluid px-0 py-5">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2 font-size">Why E-skills?</h6>
                <h1 class="display-4 font-weight">Making learning easier and more convenient   for you </h1>
            </div>
        </div>
    </div>
    <br><br>
<!-- card -->
<div class="container">

<div class="row row-cols-1 row-cols-md-3">
     <!-- card 1 -->
     <div class="col mb-4">
        <div class="card">
          <div class="card-body color-one">
            <p > <fa-icon [icon]="faDisplay " class="fa-4x displayIcon "></fa-icon> </p>
            <h5 class="card-title text-center">Full web development</h5>
            <p class="card-text text-center">Data structures are the problem-solving pillars of coding. Learn all the foundational knowledge about all of the popular data structure that you need, to be well-versed in interviews.</p>
          </div>
        </div>
      </div>
      <!-- card2 -->

    <div class="col mb-4">
      <div class="card">
        <div class=" bg-secondary card-body">
            <p > <fa-icon [icon]="faCode " class="fa-4x iconCenter "></fa-icon> </p>
          <h5 class="card-title text-center">Placement Preparation</h5>
          <p class="card-text text-center">Ace the placement interviews by being knowledgeable in all well-known data structures, popular problem-solving methods, and core computer sciences. <br><br></p>
        </div>
      </div>
    </div>
     <!-- card 3 -->
    <div class="col mb-4">
      <div class="card">
        <div class="card-body color-one">
            <p > <fa-icon [icon]="faHandshake " class="fa-4x iconCenter "></fa-icon> </p>
          <h5 class="card-title text-center">Hand Picked Question</h5>
          <p class="card-text text-center">Get access to hand-picked coding interview questions across categories & difficulty levels that will prepare you for every interview you would encounter. <br><br></p>
        </div>
      </div>
    </div>
    <!-- card 4 -->
    <div class="col mb-4">
      <div class="card">
        <div class="card-body bg-secondary">
            <p > <fa-icon [icon]="faUserTie " class="fa-4x iconCenter "></fa-icon> </p>
          <h5 class="card-title text-center">Learn from the best</h5>
          <p class="card-text text-center">Get access to lectures and get mentored by one of the best in the market. <br><br><br><br></p>
        </div>
      </div>
    </div>
    <!-- card 5 -->
    <div class="col mb-4">
      <div class="card">

        <div class="card-body color-one">
          <p> <fa-icon [icon]="faTableList " class="fa-4x iconCenter "></fa-icon> </p>
          <h5 class="card-title text-center">Learn Something new</h5>
          <p class="card-text text-center">Learn new concepts daily, increase your productivity & reach your full
            potential. <br><br><br><br></p>
        </div>
      </div>
    </div>
    <!-- card-6 -->
    <div class="col mb-4">
      <div class="card">
        
        <div class="card-body bg-secondary">
          <p> <fa-icon [icon]="faBookOpenReader " class="fa-4x iconCenter "></fa-icon> </p>
          <h5 class="card-title text-center">Curated Content</h5>
          <p class="card-text text-center">Learn in-depth conceptual overviews, how to approach an algorithm, how to
            implement it & how to optimize it. <br><br><br> </p>
        </div>
      </div>
    </div>


     
  </div>

</div>


</div>
<!-- feature End -->
